
<h1>Hello {{fullName | uppercase}}</h1>
<h1>Hello {{fullName | lowercase}}</h1>

<br>
<button type="button" (click)="getProducts()">Get products</button>
<br>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>
</table>
<br>
<hr>

{{mydate | date:'shortTime'}}<br>
{{40000 | currency :"USD"}}<br>
{{myJson | json}}<br>
{{myArrayNum | slice:1:3}}

<br><br>
<input type="text" name=""[(ngModel)]="someText">
<p>{{someText}}</p>

<br>
<h2>{{printNumber + 20}}</h2>
<h2>{{fullName}}</h2>
<br>
<button type="submit" (click)="OnClick()">CLICK ME</button>

<!-- {{great("Oussema Sendi" )}} -->

{{sum(10,5)}}

<div *ngIf="myInfo;else elseBlock"> 
  Hello every ONE ! 
</div>

<ng-template #elseBlock> 
  Hello every else TWO ! 
</ng-template>

<br>
<br>
<button type="button" (click)="Datainfo=!Datainfo">{{Datainfo? 'Disable':'Enable'}}</button>
<br>Data : {{Datainfo}}

<br>

<ul>
  <li *ngFor="let costumer of costumersArray">{{costumer.prenom}}</li>
</ul>
<!-- {{PersonObject.name}}
{{PersonObject.prenom}}
{{PersonObject.Age}} -->

